name: Opalstack Terraform Provider Tests
on: [push]
jobs:
  Run-Tests:
    runs-on: ubuntu-latest
    steps:
      - run: 'curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -'
      - run: 'sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"'
      - run: 'sudo apt-get update && sudo apt-get install -y terraform curl'
      - run: 'terraform -version'
        name: 'ℹ️ Terraform version'
      - run: 'curl https://dl.google.com/go/go1.17.5.linux-amd64.tar.gz | sudo tar -C /usr/local -xzf -'
      - run: 'echo "/usr/local/go/bin" >> $GITHUB_PATH'
      - run: 'go version'
        name: 'ℹ️ Golang version'
      - uses: actions/checkout@v2
      - run: 'go mod vendor'
      - run: 'make test'
